* {
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-bottom: 200px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    align-self: start;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0 12px;
    width: 100%;
}

h1 {
    font-size: 1.9em;
    font-weight: 600;
    color: #303233;
}
h2 {
    font-size: 1.7em;
    font-weight: 600;
    color: #303233;
}
h3 {
    font-size: 1.6em;
    color: #32403f;
    font-weight: 400;
}
h4 {
    font-size: 1.2em;
    color: #32403f;
    font-weight: 100;
}
h5 {
    font-size: 1em;
    color: #32403f;
    font-weight: 100;
}
h6 {
    font-size: 0.9em;
    color: #32403f;
    font-weight: 100;
}

@media (max-width: 900px) {
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1em;
    }
    h4 {
        font-size: 0.8em;
    }
    h5 {
        font-size: 0.7em;
    }
    h6 {
        font-size: 0.6em;
    }
}

dl, ul, ol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

p, a {
    font-family: 'Roboto', serif;
    text-rendering: optimizeLegibility;
}

pre {
    font-family: 'Roboto Slab', monospace;
    text-rendering: optimizeLegibility;
}

p {
    margin: 0;
}



[form-wrapper] {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    padding: 12px;
    background-color: #f7f7f7;
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    font-family: 'Source Code Pro', monospace;
}

[form-wrapper] > form {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

[form-wrapper] > form > input {
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 12px;
}

[form-wrapper] > form > input[type='text'] {
    padding: 8px;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: 'Source Code Pro', monospace;
}

table > tr > td:first-child {
    text-align: right;
}

td {
    padding: 4px;
}

pre, code {
    font-family: 'Source Code Pro', monospace;
}

table {
    margin: 0 20px;
}